.cardPost {
    width: 360px;
    background-color: #eaf0f6;
    border-radius: 20px;

    cursor: pointer;
    transition: .3s;
}
.cardPost:hover {
    scale: 1.02;
}

.cardPost div {
    padding: 0px 20px 5px;
}

.cardPost img {
    width: 100%;
    border-radius: 20px 20px 0 0;
}

.cardPost div p:first-of-type {
    font-size: 14px;
    color: #ef4b55;
    font-weight: 600;
    margin-top: 0;
    
}
.cardPost div h3 {
    margin-bottom: 4px;
    line-height: 24px;
}
.cardPost div p:last-of-type {
    line-height: 22px;
}


@media only screen and (max-width: 1200px) {
    .cardPost {
      /* width: 50%; */
    }
}
